/* Algemeen */
* {
    /* Zorgt ervoor dat de padding en border bij de breedte horen */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    /* 'Lees meer'-knop */
    .MeerNieuws-ad {
        text-decoration: none;

        &:hover {
            outline: 2px solid var(--primary-color);
        }
    }
}

header {
    position:relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: var(--white-color);
    z-index: 10;
    border-bottom: 25px solid var(--primary-color);

    @media (min-width: 700px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        border: 0;
    }

    & .logo-klein {
        & svg {
            width: 5em;
        }

        @media (min-width: 700px) {
            display: none;
        }
    }

    & .logo-groot {
        display: none;

        @media (min-width: 700px) {
            display: inline;
            margin: 1em 2em;
            width: fit-content;
            
            & svg {
                width: 10em;
            }  
        }
    }

    /* Zoekbalk */
    & [aria-label="zoekbalk"] {

        @media (min-width: 700px) {
            display: flex;
            justify-content: end;
            margin: 1em 2em;
        }
    
        & input {
            padding-block: 0.6em;
            border:none;
            border-radius: 5px;
            width: 3.25em;
            padding-left: 3em;

            background-image: url(https://sieuwkesheta.github.io/look-and-feel-corporate-identity/assets/search-icon.svg);
            background-size: 2em;
            background-repeat: no-repeat;
            background-position:.625em center;
            background-color: transparent;

            @media (prefers-reduced-motion:no-preference) {
	    	    transition:all .2s .3s ease-in, width .5s;
	        }

            /* Hover van search-icon */
            &:hover {
                border: 0.15em solid var(--primary-color);
                transition: none;
                cursor: pointer;
            }

            &:focus,
            &:not(:placeholder-shown) {
                width: 100%;
                background-size:1em auto;
	    	    background-position:.875em center;

                @media (prefers-reduced-motion:no-preference) {
                    transition:all .3s, width .5s;
	    	    }

                &:hover {
                    border: 0;
                    cursor: text;
                }
            }
        }
    }
    
    & button {
        background-color: transparent;
        border: none;

        & svg {
            width: 3em;

            @media (min-width: 600px) {
                width: 4em;
            } 
        }

        &:hover, &:active {
            cursor: pointer;
            border: 0.1em solid var(--primary-color);
            padding: 0.1em;
            border-radius: 3px;
        }

    }

    /* Navigatie menu naar andere pagina's op de website */
    & .ham-menu {
        position:absolute;
        top:100%;
        left:0;
        right:0;

        background-color: var(--white-color);
        margin: 0;
        padding: 1.5em;
        /* Lijst in hamburger menu is niet zichtbaar */
        translate: -100%;
        transition: 0.25s;

        &.is-open {
            /* Lijst in hamburger menu is zichtbaar */
            height: 100vh;
            width: 90%;
            translate: 0;
        }

        @media (min-width: 700px) {
            grid-column: 1/-1;
            display: flex;
            justify-content: space-evenly;
            position: static;
            translate: 0;
            padding: 0.5em;
            margin: 0;

            background-color: var(--primary-color);
        }

        & li, & a{
            list-style: none;
            text-decoration: none;
            color: var(--primary-color);
            line-height: 2em;
            font-size: var(--font-size-m);

            @media (min-width: 700px) {
                color: var(--white-color);
                font-size: var(--font-size-m);
            }
        }

        & a {

            &:hover {
                text-decoration: 2px underline;
                text-underline-offset: 5px;
            }

            &:active {
                color:var(--accent-color);
            }
        }
         

        /* Drop-down menu */
        & .drop-down summary {
            cursor: pointer;

            &:hover {
                text-decoration: 2px underline;
                text-underline-offset: 5px;
            }

            /* Driehoek voor tekst */
            &::marker {
                font-size: var(--font-size-l);
                padding: 0 5px;
            }
        }

        /* Het drop-down menu als de 'voor Wie' open is */
        & .drop-down[open]::details-content{
                padding-left: 1em;

                @media (min-width: 700px) {
                    position: absolute;
                    background-color: var(--primary-color);
                    padding:1em;
                    min-width: 22em;
                }
            }
        
        /* Alle a-elementen in het drop-down menu */
        & .drop-down a{
            display: grid;
            padding-left: 1em;
        }
    }

    & .ham-menu-button {
        @media (min-width: 700px) {
            display: none;
        }

        & .is-open svg {
            background-color: var(--primary-color);
            padding: 0.2em;
            border-radius: 3px;
        }
    }
}

/* Welkom sectie op home-pagina */
.welcome-home-page {
    background-image: 
    linear-gradient(rgba(17, 17, 17, 0.137)),
    url("https://sieuwkesheta.github.io/all-human-accessible-website/assets/top-view-desk.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
    
    color: var(--white-color);
    padding: 1em;
    text-align: center;
    

    & h1 {
        margin: 0;
        padding: 1em 0 0.2em;
    }

    & h2 {
        margin: 0;
        padding: 2.5em 0 0.2em;
    }

    & ul {
        display: grid;
        justify-content: center;
        text-align: left;
        padding: 1em;
        line-height: 2em;
        font-weight: 500;
        margin: 0 0 0.3em;
        padding: 0 0 1em;
        list-style: none;

        & svg {
            fill: var(--white-color);
            width: 1.5em;
            margin-right: 0.5em;
        }
    }

    /* 'Lees meer'-knop */
    & .MeerNieuws-ad {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.target-groups {
    margin: 5em 1em;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 10px;

    @media (min-width: 600px) {
        margin: 5em 3em;
    }

    @media (min-width: 750px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    & h2 {
        margin: 0;
        color: var(--white-color);
        margin-bottom: 0.5em;
        text-align: center;

        @media (min-width:750px) {
            grid-column: 1/-1;
        }
    }

    & p {
        display: flex;
        align-items:center;
        gap: 0.5em;
        background-color: var(--white-color);
        margin: 0;
        padding: 0.5em;
        border-bottom: 1px solid grey;

        @media (min-width: 700px) {
            border-left: 1px solid grey;
        }
        
        @media (min-width: 900px) {
            display: grid;
            justify-content: center;
            text-align: center;
            padding: 1em;
        }
    }
    
    & svg {
        width: 2.5em;

        @media (min-width: 900px) {
            width: 4em;
            margin: auto;
        }
    }
}

/* Laatste-nieuws sectie op home-pagina */
.latest-news {
    background-color: var(--primary-color);
    padding: 1.5em;

    & h2 {
        text-align: center;
        padding-bottom: 1em;
        

        & a {
            color: var(--white-color);
            text-underline-offset: 4px;

            &:hover {
                color: var(--primary-lighter-color);
                text-shadow: 1px 1px 1px rgba(48, 48, 48, 0.395);
            }
            
            &:active {
                color: var(--accent-color);
            }
        }
    }

    & ul {
        list-style: none;

        @media (min-width: 700px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: max-content;
            gap: 3em;
        }

        @media (min-width: 1000px) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2em;
        }
    }

    & article {
        background-color:var(--white-color);
        margin-bottom: 2em;
        padding-bottom: 1.5em;
        text-align: center;
        border-radius: 10px;

        color: var(--black-color);
        fill: var(--black-color);
        height: 100%;
        box-shadow: 2px 1px 15px rgb(57, 57, 57);

        & img {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        & h3 {
            padding: 1em 2em 0.5em;

        }

        p {
            padding: 0 2em 2em;
        }   


    & .MeerNieuws-ad {

        
    }

    /* tweede article */
    & :nth-of-type(2){
        img {
            padding: 2em 0;
        }

        h3 {

            @media (min-width: 700px) {
                padding-top: 2em;
            }

            @media (min-width: 1200px) {
                padding-top: 3em;
            }

        }
    }

}

/* Deelnemende hogescholen sectie op home-pagina */
.participating-colleges {
    margin: 4em 1em;

    & h2 {
        text-align: center;

        & a {
            color: var(--black-color);
            text-underline-offset: 4px;

            &:hover {
                color: var(--primary-lighter-color);
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.395);
            }
            
            &:active {
                color: var(--accent-color);
            }
        }
    }

    & .carousel {
        display: flex;
        width: 100%;
        overflow-x: scroll;

        & .carousel-inside {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 1em;
            padding: 1em;
            animation: scroll 45s infinite linear;
            
            /* Pauseert de animatie als 'reduced-motion' aan staat */
            @media (prefers-reduced-motion: reduce) {
                animation-play-state: paused !important;
            }
            
            & li {
                flex: 0 0 5em;
        
                & img {
                    height: 3em;
                    width: auto;
                    transition: 0.2s;

                    &:hover {
                        scale: 1.1;
                    }
                }
            }
        }
    }
}

/* Animatie voor carousel */
@keyframes scroll {
    from {translate: 0;}
    to {translate: -100%;}
}


footer {
    background-color: var(--primary-color);
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;

    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 5em;
    }
    

    & h2 {
        text-align: left;
        color: var(--white-color);
        margin: 0 0 0.5em 0;
    }

    & .platform-ad {
        padding: 1.5em;
        text-align: left;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

    }

    & a {
        line-height: 1.5em;
        color: var(--white-color);
        text-decoration: none;

        &:hover {
            text-decoration: 2px underline;
            text-underline-offset: 5px;
            text-decoration-color: var(--white-color);
        }

        &:active {
            color: var(--primary-lighter-color);
            text-decoration-color: var(--primary-lighter-color);
        }
    }

    /* Logo Platform Ad */
    & svg {
        margin-bottom: 2em;

        @media (min-width: 700px) {
            grid-row: 2;
            grid-column: 1/-1;
            margin: auto;
        }
    }

    /* Copyright */
    & p {
        background-color: var(--white-color);
        padding: 0.8em;
        text-align: center;

        @media (min-width: 700px) {
            grid-row: 3;
            grid-column: 1/-1;
        }
    }
}

/* Contact pagina */

.contact-form {
    background-color: var(--primary-color);
    padding: 1em 2em 2em;

    & h2 {
        color: var(--white-color);
        margin-bottom: 0.5em;
    }

    .contact-form-inside {
        display: grid;
        gap: 1em;

        max-width: 35em;
        
        background-color: var(--white-color);
        border-radius: 5px;
        padding: 1em;
        
        & .submit-button {
            display: flex;
            justify-content: center;
        }

        textarea {
            resize: none;
            height: 5em;
        }
    }

}
