nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: #ffffff;
    z-index: 10;
    border-bottom: 25px solid var(--primary-color);

    @media (min-width: 700px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        border: 0;
    }

    & .logo-klein {
        & svg {
            width: 5em;
        }

        @media (min-width: 700px) {
            display: none;
        }
    }

    & .logo-groot {
        display: none;

        @media (min-width: 700px) {
            display: inline;
            margin: 1em 2em;
            width: fit-content;
            
            & svg {
                width: 10em;
            }  
        }
    }

    /* Zoekbalk */
    & [aria-label="zoekbalk"] {

        @media (min-width: 700px) {
            display: flex;
            justify-content: end;
            margin: 1em 2em;
        }
    
        & input {
            padding-block: 0.6em;
            border:none;
            border-radius: 5px;
            width: 3.25em;
            padding-left: 3em;

            background-image: url(/assets/search-icon.svg);
            background-size: 2em;
            background-repeat: no-repeat;
            background-position:.625em center;
            background-color: transparent;

            @media (prefers-reduced-motion:no-preference) {
	    	    transition:all .2s .3s ease-in, width .5s;
	        }

            /* Hover van search-icon */
            &:hover {
                border: 0.15em solid var(--primary-color);
                transition: none;
                cursor: pointer;
            }

            &:focus,
            &:not(:placeholder-shown) {
                width: 100%;
                background-size:1em auto;
	    	    background-position:.875em center;

                @media (prefers-reduced-motion:no-preference) {
                    transition:all .3s, width .5s;
	    	    }

                &:hover {
                    border: 0;
                    cursor: text;
                }
            }
        }
    }
    
    & button {
        background-color: transparent;
        border: none;

        svg {
            width: 3em;

            @media (min-width: 600px) {
                width: 4em;
            } 
        }

        :hover {
            cursor: pointer;
            border: 0.1em solid var(--primary-color);
            padding: 0.1em;
            border-radius: 3px;
        }

        :active {
            cursor: pointer;
            fill: #ffffff;
            background-color: var(--primary-lighter-color);
            padding: 0.2em;
            border-radius: 3px;
        }
    }

    /* Navigatie menu naar andere pagina's op de website */
    & .ham-menu {
        position:absolute;
        top:100%;
        left:0;
        right:0;

        background-color:#ffffff;
        margin: 0;
        padding: 1.5em;
        /* Lijst in hamburger menu is niet zichtbaar */
        translate: -100%;
        transition: 0.25s;

        &.is-open {
            /* Lijst in hamburger menu is zichtbaar */
            height: 100vh;
            width: 90%;
            translate: 0;
        }

        @media (min-width: 700px) {
            grid-column: 1/-1;
            display: flex;
            justify-content: space-evenly;
            position: static;
            translate: 0;
            padding: 0.5em;
            margin: 0;

            background-color: var(--primary-color);
        }

        & li, & a{
            list-style: none;
            text-decoration: none;
            color: var(--primary-color);
            line-height: 2em;
            font-size: var(--font-size-m);

            @media (min-width: 700px) {
                color: var(--white-color);
                font-size: var(--font-size-m);
            }
        }

        & a {

            &:hover {
                text-decoration: 2px underline;
                text-underline-offset: 5px;
            }

            &:active {
                color:var(--accent-color);
            }
        }
         

        /* Drop-down menu */
        & .drop-down summary {
            cursor: pointer;

            &:hover {
                text-decoration: 2px underline;
                text-underline-offset: 5px;
            }

            /* Driehoek voor tekst */
            &::marker {
                font-size: var(--font-size-l);
                padding: 0 5px;
            }
        }

        /* Het drop-down menu als de 'voor Wie' open is */
        & .drop-down[open]::details-content{
                padding-left: 1em;

                @media (min-width: 700px) {
                    position: absolute;
                    background-color: var(--primary-color);
                    padding:1em;
                    min-width: 22em;
                }
            }
        
        /* Alle a-elementen in het drop-down menu */
        & .drop-down a{
            display: grid;
            padding-left: 1em;
        }
    }

    & .ham-menu-button {
        @media (min-width: 700px) {
            display: none;
        }

        & .is-open svg {
            fill: #ffffff;
            background-color: var(--primary-color);
            padding: 0.2em;
            border-radius: 3px;
        }
    }
}
